<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.gestionConnectionString"
            connectionString="Driver={PostgreSQL UNICODE};server=192.168.1.100;port=5432;database=gestion;uid=victoria;pwd=victoria"
            providerName="System.Data.Odbc" />
        <add name="WindowsFormsApplication1.Properties.Settings.gestionConnectionStringTratamiento"
            connectionString="Driver={PostgreSQL ANSI};server=192.168.1.100;port=5432;database=gestion;uid=victoria;pwd=victoria"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>